@import url('https://fonts.googleapis.com/css?family=Numans');

html,body{
font-family: 'Numans', sans-serif;
min-height: 100vh;
}

.main-sidebar a {
 color: #fff;
 text-decoration:none;
}
@media screen and (max-width: 575px){
	.col-12 {
		font-size:0.9em;
	}
}
.autoComplete  {

}

.autoComplete  fieldset{
	padding: 0;
    border: 1px solid #c8c8c8;
    background-color: #ffffff;
}

.autoComplete ul {
	padding:0 !important;
	display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
	overflow-y: auto;
	max-height:150px;

}
.autoComplete ul li{
	padding:10px 0 10px 10px;
	list-style-type:none;
	cursor:pointer;
}
.autoComplete ul li:hover{
background-color: rgba(170,170,170,0.5);
}
@media screen and (max-width: 575px){
	#parent-menu{
		font-size:1.3em;
	}
}

.bg-primario {
	background-color: rgba(0,30,190,1)
}
.bg-secundario {
	background-color: rgba(130,130,130,1)
}

nav.main-header {
	box-shadow:0 1px 5px #666;
	
}
#formTable div {
	padding:0 1px 0 0;
}

#formTable div input[type=text] {
	border-radius:0;
}
.main-sidebar ul li {
	list-style-type:none;
	padding:10px;
}
.main-sidebar > ul > li:hover {

}
.main-sidebar ul {
	padding:0px;
}

.main-sidebar {
	height:100vh;
	padding:0;
}